.login {
    content: "";
    background: url("../../Assets/login.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.forms {
    background-color: white;
    border: 1px solid #993399;
    border-radius: 1rem;
    height: 50rem;
    width: 50rem;
    padding: 2rem;
}
